body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3700ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3700ff;
}

header {
    background-color: #040404;
    padding: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

nav li.active a {
    color: #0456fa; /* Couleur de surbrillance pour la page active */
}

.search-container {
    margin-top: 20px;
}

#search-input {
    width: 300px;
    padding: 5px;
}

#search-results {
    list-style-type: none;
    margin-top: 10px;
}

#search-results li {
    padding: 5px;
    cursor: pointer;
}

#search-results li:hover {
    background-color: #f2f2f2;
}

/* Styles pour la signature */
#signature-pad {
    width: 300px;
    height: 200px;
    border: 1px solid #e20d0d;
    margin-bottom: 10px;
}

#clear-signature {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#clear-signature:hover {
    background-color: #d32f2f;
}
